*{
    margin : 0;
    padding : 0;
}
header{
    display: block;
    width: 100%;
    height: 450px;
    overflow: hidden;
}
header img{
    display: block;
    width: 100vw;
    height: 450px;
}
.content-image{
    display: block;
    width: 245px;
    height: 245px;
    border-radius: 50%;

    position: absolute;
    top : 100px;
    left: 50%;
    transform: translateX(-50%);
}
.content-image img{
    width: 245px;
    height: 245px;
    border-radius: 50%;
}
.content-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: start;

    position: relative;
    top : -15px;
}
.content-menu a{
    display:flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    width: 15%;
    height : 45px;

    background-color:lightblue;
    color : white;
    font-weight:bold;
    padding : 10px;
    transition: 0.5s;
}
#active{
    background-color:blue;
}

.content-menu a:hover{
    background-color:blue;
    color : white;
    font-weight:bolder;
}
.content-body{
    display: grid;
    grid-template-columns: 60% 40%;
}
.content-actualite{
    padding: 25px;
}
.content-oneday{
    display: block;
    
}
.event-week{
    display: block;
    width: calc(100% -30px);
    height: 250px;
    background-color: lightblue;
    padding : 25px;
    border-radius: 15px;
}
.content-apropos{
    display: block;
}
.a-propos{
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.2s;
}
.a-propos p{
    font-style: italic;
}
.a-propos p span{
    color : blue; 
    font-style: normal;
    margin-left: 15px;
}